In [3]:
data = "/mnt/c/Users/wcc18/Downloads/"

import pandas as pd
import numpy as np


result = pd.read_csv(data+"debug_product_record_num_leaves.tsv", sep='\t', index_col=0)

In [25]:
result[result['user_id']==200361]

         order_id  user_id  product_id  label  pred_prob  pred
8237639   3311068   200361       31981      0   0.220050     1
8237640   3311068   200361       29615      0   0.267844     1
8237641   3311068   200361       49478      0   0.022330     0
8237642   3311068   200361       13974      0   0.046363     0
8237643   3311068   200361       13176      0   0.098176     0
8237644   3311068   200361       17302      0   0.279406     1
8237645   3311068   200361       20137      0   0.029499     0
8237646   3311068   200361       47745      0   0.282931     1
8237647   3311068   200361        8382      0   0.030928     0
8237648   3311068   200361       19535      0   0.044980     0
8237649   3311068   200361        9252      0   0.040179     0
8237650   3311068   200361       21288      0   0.050769     0
8237651   3311068   200361       33679      0   0.027847     0
8237652   3311068   200361       17689      0   0.044293     0
8237653   3311068   200361       21260      0   0.032367     0
8237654   3311068   200361       22025      0   0.194010     1
8237655   3311068   200361       32566      0   0.375427     1
8237656   3311068   200361       49445      0   0.217397     1
8237657   3311068   200361       13636      0   0.052993     0
8237658   3311068   200361        8786      0   0.096543     0
8237659   3311068   200361       28427      0   0.132702     0
8237660   3311068   200361       43654      1   0.402075     1
8237661   3311068   200361        5550      0   0.125822     0
8237662   3311068   200361        4138      0   0.309282     1
8237663   3311068   200361        2536      0   0.123565     0
8237664   3311068   200361        9006      0   0.084267     0
8237665   3311068   200361       46673      0   0.187772     1
8237666   3311068   200361       34993      0   0.216519     1

In [8]:
priors = pd.read_csv("/mnt/d/Data/Instacart/" + 'order_products__prior.csv', dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8}, usecols = ['order_id', 'product_id', 'reordered'], engine='c')

orders = pd.read_csv("/mnt/d/Data/Instacart/" + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, engine='c')

product = pd.merge(priors, orders, on='order_id').sort_values(by=['user_id', 'order_number', 'product_id']).reset_index(drop=True)

In [24]:
product[(product['user_id']==200361) & (product['product_id']==30490)]

,order_id,product_id,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
25828917,1116497,30490,0,163992,prior,1,2,15,NaN
25828923,1332178,30490,1,163992,prior,2,3,9,29.0

In [22]:
orders[orders.order_id==1365793]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2722616,1365793,163992,train,4,2,14,14.0

In [23]:
product[product['user_id']==200361]

,order_id,product_id,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
25828911,1116497,7131,0,163992,prior,1,2,15,NaN
25828912,1116497,9756,0,163992,prior,1,2,15,NaN
25828913,1116497,14183,0,163992,prior,1,2,15,NaN
25828914,1116497,16953,0,163992,prior,1,2,15,NaN
25828915,1116497,29085,0,163992,prior,1,2,15,NaN
25828916,1116497,30169,0,163992,prior,1,2,15,NaN
25828917,1116497,30490,0,163992,prior,1,2,15,NaN
25828918,1116497,34690,0,163992,prior,1,2,15,NaN
25828919,1116497,34956,0,163992,prior,1,2,15,NaN
25828920,1116497,39275,0,163992,prior,1,2,15,NaN
25828921,1332178,11891,0,163992,prior,2,3,9,29.0
25828922,1332178,30489,0,163992,prior,2,3,9,29.0
25828923,1332178,30490,1,163992,prior,2,3,9,29.0
25828924,1332178,31585,0,163992,prior,2,3,9,29.0
25828925,1332178,42887,0,163992,prior,2,3,9,29.0
25828926,1332178,48192,0,163992,prior,2,3,9,29.0
25828927,1332178,48299,0,163992,prior,2,3,9,29.0
25828928,2496577,2611,0,163992,prior,3,2,12,20.0
25828929,2496577,11891,1,163992,prior,3,2,12,20.0
25828930,2496577,12044,0,163992,prior,3,2,12,20.0
25828931,2496577,13835,0,163992,prior,3,2,12,20.0
25828932,2496577,14280,0,163992,prior,3,2,12,20.0
25828933,2496577,14719,0,163992,prior,3,2,12,20.0
25828934,2496577,19095,0,163992,prior,3,2,12,20.0
25828935,2496577,20030,0,163992,prior,3,2,12,20.0
25828936,2496577,22206,0,163992,prior,3,2,12,20.0
25828937,2496577,27022,0,163992,prior,3,2,12,20.0
25828938,2496577,30489,1,163992,prior,3,2,12,20.0
25828939,2496577,34690,1,163992,prior,3,2,12,20.0
25828940,2496577,35353,0,163992,prior,3,2,12,20.0
25828941,2496577,35921,0,163992,prior,3,2,12,20.0
25828942,2496577,40316,0,163992,prior,3,2,12,20.0
25828943,2496577,48299,1,163992,prior,3,2,12,20.0